<section class="aboutme">
    <div class="post_content">
<h2>Hi there, this is Joey</h2>
<ul>
<li>I'm currently a senior at HFUT</li>
<li>I'm going to study at Aarhus University</li>
<li>I'm interested in Programming Languages</li>
</ul>
<p><strong>Fun facts</strong>:</p>
<ul>
<li>I love basketball but I don't watch NBA</li>
<li>I love music but I know nothing about singing or Music</li>
<li>I would like to try any new sports</li>
<li>I enjoy strolling or sitting around doing nothing</li>
<li>I find languages are interesting</li>
</ul>
<p><strong>Devices</strong>:</p>
<ul>
<li>Lenovo LEGION Y7000 2018 Edition, 8GB RAM GTX1050</li>
<li>Xiaomi Mi 8 SE, 8GB 64GB Golden, with PixelExperience OS Android 11</li>
<li>iPhone 12 mini, Black, 128G</li>
<li>Google Pixel Slate, M3, 64GB</li>
<li>NIZ Plum atom66 Electrostatic Capacitive Keyboard</li>
</ul>
    </div>
</section>
